<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav class="navbar navbar-default" th:fragment="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Sample Spring 5 App</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a>Hallo <span
							th:text="${#authentication.getPrincipal().getUsername()}"></span>!
					</a></li>

					<li><a href="#" th:href="@{/countryList}">Country List</a></li>
					<li><a href="#" th:href="@{/upload-file}">File Upload</a></li>
					<li><a href="#" th:href="@{/system/info}">System Info</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#">YOUR
							ARE ADMIN!</a></li>
					<li><a href="/signin" th:href="@{/signUp}"> <span
							class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign
							Up
					</a></li>
					<li><a href="/logout" th:href="@{#}"
						onclick="$('#form').submit();"> <span
							class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
					</a>
						<form style="visibility: hidden" id="form" method="post"
							action="#" th:action="@{/logout}"></form></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>