<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-default" th:fragment="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Sample Spring 5 App</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a>Hallo <span
							th:text="${#authentication.getPrincipal().getUsername()}"></span>!
					</a></li>

					<li><a href="#" th:href="@{/countryList}">Country List</a></li>
					<li><a href="#" th:href="@{/upload-file}">File Upload</a></li>
					<li><a href="#" th:href="@{/system/info}">System Info</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#">YOUR
							ARE ADMIN!</a></li>
					<li><a href="/signin" th:href="@{/signUp}"> <span
							class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign
							Up
					</a></li>
					<li><a href="/logout" th:href="@{#}"
						onclick="$('#form').submit();"> <span
							class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
					</a>
						<form style="visibility: hidden" id="form" method="post"
							action="#" th:action="@{/logout}"></form></li>
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>