<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/htmlHeadFragment :: headerFragment" />
<body>

	<div th:include="fragments/header :: header"></div>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-primary">

					<div class="panel-heading">
						<div class="row">
							<div class="col-md-6">
								<h1 class="panel-title">Create a new country!</h1>
							</div>
							<div class="col-md-6">
								<a class="btn btn-default pull-right" href="#"
									th:href="@{'/countryList'}">Back to Country List!</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" th:action="@{'/country'}"
							th:object="${country}" method="post">
							<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
								<p>Please Correct Errors Below</p>
							</div>

							<input type="hidden" th:field="*{id}" />
							<div class="form-group">
								<label for="inputName" class="col-sm-3 control-label">Name:
								</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputName"
										name="name" placeholder="Name" th:field="*{name}"></input> <span
										class="help-block" th:if="${#fields.hasErrors('name')}">
										<ul>
											<li th:each="err : ${#fields.errors('name')}"
												th:text="${err}" />
										</ul>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="inputCode" class="col-sm-3 control-label">Country
									Code: </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputCode"
										name="countryCode" placeholder="Country Code"
										th:field="*{countryCode}"></input> <span class="help-block"
										th:if="${#fields.hasErrors('countryCode')}">
										<ul>
											<li th:each="err : ${#fields.errors('countryCode')}"
												th:text="${err}" />
										</ul>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="inputTimezone" class="col-sm-3 control-label">Zeitzone:
								</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="inputTimezone"
										name="timezone" placeholder="Zeitzone" th:field="*{timezone}"></input>
									<span class="help-block"
										th:if="${#fields.hasErrors('timezone')}">
										<ul>
											<li th:each="err : ${#fields.errors('timezone')}"
												th:text="${err}" />
										</ul>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="inputDefaultLanguage" class="col-sm-3 control-label">Default
									Language: </label>
								<div class="col-sm-9">
									<input type="text" class="form-control"
										id="inputDefaultLanguage" name="defaultLanguage"
										placeholder="Default Language" th:field="*{defaultLanguage}"></input>
									<span class="help-block"
										th:if="${#fields.hasErrors('defaultLanguage')}">
										<ul>
											<li th:each="err : ${#fields.errors('defaultLanguage')}"
												th:text="${err}" />
										</ul>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="latitude" class="col-sm-3 control-label">Latitude:
								</label>
								<div class="col-sm-9">
									<input type="number" class="form-control" id="inputLatitude"
										name="latitude" placeholder="Latitude" th:field="*{latitude}"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="longitude" class="col-sm-3 control-label">Longitude:
								</label>
								<div class="col-sm-9">
									<input type="number" class="form-control" id="inputLongitude"
										name="longitude" placeholder="Longitude"
										th:field="*{longitude}"></input>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-8 col-sm-4">
									<button type="submit" class="btn btn-default pull-right">Erstellen</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>