<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/htmlHeadFragment :: headerFragment" />
<body>

	<div th:include="fragments/header :: header"></div>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-danger">

					<div class="panel-heading">
						<div class="row">
							<div class="col-md-6">
								<h1 class="panel-title">Websockets!</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<p>coming soon...
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>