<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/htmlHeadFragment :: headerFragment" />
<body>

	<div th:include="fragments/header :: header"></div>

	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">

					<div class="panel-heading">
						<div class="row">
							<div class="col-md-6">
								<h1 class="panel-title">Add a new stock price!</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<form class="form-horizontal">

							<div class="form-group">
								<label for="code" class="col-sm-3 control-label">Stock
									Code: </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="code" name="code"
										placeholder="Stock Code"></input>
								</div>
							</div>
							<div class="form-group">
								<label for="price" class="col-sm-3 control-label">Price
								</label>
								<div class="col-sm-9">
									<input type="number" class="form-control" id="price"
										name="price" value="0.0"></input>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-8 col-sm-4">
									<button type="submit" id="addStockButton" class="btn btn-default pull-right">Add stock</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">

					<div class="panel-heading">
						<div class="row">
							<div class="col-md-6">
								<h1 class="panel-title">Latest Stock Prices!</h1>
							</div>
							<div class="col-md-offset-3 col-md-3">
								<h1 class="panel-title">User ID: <span id="userId"></span></h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<table  class="table table-striped">
									<thead>
										<tr>
											<th>Code</th>
											<th>Price</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody id="priceTable">
									
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.2/stomp.min.js"></script>
	<script>
	
		var stomp = Stomp.over(new SockJS("/ws"));
		function displayStockPrice(frame) {
			var prices = JSON.parse(frame.body);
			$('#priceTable').empty();
			for(var i = 0; i < prices.length; i++){

				var date = new Date(prices[i].timestamp);
				var hours = date.getHours();
				var minutes = "0" + date.getMinutes();
				var seconds = "0" + date.getSeconds();
				var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
				
				$('#priceTable').append(
					$('<tr>').append(
						$('<td>').html(prices[i].code),
						$('<td>').html(prices[i].price.toFixed(2) + " &euro;"),
						$('<td>').html(formattedTime)
					)
				);
			}
		}
		
		function displayMetaData(frame) {
			console.log(frame);
			$('#userId').html(JSON.parse(frame.body).userId);
		}
		
		var connectCallback = function () {
			stomp.subscribe('/topic/price', displayStockPrice);
			stomp.subscribe('/app/metadata/heat/M1', displayMetaData);
		};
		
		var errorCallback = function (error) {
			alert(error.headers.message);
		};
		
		stomp.connect("guest", "guest", connectCallback, errorCallback);
		
		$(document).ready(function () {
			$('#addStockButton').click(function (e) {
				e.preventDefault();
				var jsonstr = JSON.stringify({ 'code': $('#code').val(),
				'price': Number($('#price').val()) });
				stomp.send("/app/addStock", {}, jsonstr);
				return false;
			});
		});
	</script>

</body>
</html>